/*hlavní obsah stránky*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 350px;
    background-color: white;
}
.main {
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    xcolor: white;
    text-decoration: none;
}
h1 {
    font-size: 54px;
    font-weight: 100;
    margin: 50px auto;
}
.container {
    margin-top: 30px;
    margin-bottom: 100px;
    xcolor: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1.6;
    line-height: 45px;
    display: grid;
    grid-template-columns: clamp(65px, 20vw, 110px) clamp(222px, 69vw, 390px);
    gap: 0 clamp(10px, 5vw, 30px);
    width: clamp(336px, 96vw, 530px);
}
p:nth-child(2n + 1) {
    justify-self: flex-end;
}
a {
    color: inherit;
}
footer {
    border: none;
}
/*pro malé obrazovky*/
@media (max-width: 600px) {
    .main {
        padding-top: 20px;
    }
    footer {
        display: none;
    }
    .container p {
        font-size: clamp(17px, 5vw, 30px);
        line-height: clamp(25px, 8vw, 42px);
    }
}