header {
    margin-top: -65px;
}
/*paralax*/
.main {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    color: white;
    margin-top: 65px;
    padding: 0px;
}
.paralaxWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
h1 {
    font-size: 85px;
    letter-spacing: 7px;
    font-weight: 200;
}
.welcome {
    font-size: 34px;
    letter-spacing: 2px;
    margin-top: 130px;
}
.paralaxPhoto {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
}
/*infobox*/
.infoBox {
    height: 300px;
    font-size: 35px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
.infoText {
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 50px;
    font-weight: 100;
}
/*galerie*/
.galleryContainer {
    width: 100%;
    height: fit-content;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper {
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
}
.swiper-slide img {
    width: 80%;
    display: block;
    margin: 0px auto;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: lightgray;
}
.swiper .swiper-pagination-bullet-active {
    background-color: lightgray;
}