/*paralax*/
.main {
    height: 100vh;
    overflow-y: auto;
    xoverflow-x: hidden;
    perspective: 10px;
    color: white;
    margin-top: 0px;
    padding: 0px;
}
.paralaxWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
h1 {
    font-size: 85px;
    letter-spacing: 7px;
    font-weight: 200;
}
.welcome {
    font-size: 34px;
    letter-spacing: 2px;
    margin-top: 130px;
}
.paralaxPhoto {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
}
/*infobox*/
.infoBox {
    height: clamp(300px, fit-content, 350px);
    font-size: 35px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
.infoText {
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 50px;
    font-weight: 100;
    padding: 50px 0px;
}
/*galerie*/
.galleryContainer {
    width: 100%;
    height: fit-content;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper {
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
}
.swiper-slide img {
    width: 80%;
    display: block;
    margin: 0px auto;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: lightgray;
}
.swiper .swiper-pagination-bullet-active {
    background-color: lightgray;
}
/*pro malé obrazovky*/
@media (max-width: 1167px) {
    h1 {
        font-size: 8vw;
    }
}
@media (max-width: 600px) {
    .main {
        margin-top: -65px;
    }
    h1 {
        font-size: 7vw;
    }
    .swiper {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
    }
    .swiper-slide img {
        width: 100%;
        display: block;
        margin: 0px auto;
    }
    .infoBox {
        border: none;
    }
    .swiper .swiper-button-prev,
    .swiper .swiper-button-next, 
    .swiper .swiper-pagination {
        display: none;
    }
}
@media (max-width: 300px) {
    h1 {
        font-size: 5vw;
    }
}