/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*My own css start here*/
body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/*styly headeru - začátek*/
header {
    background-color: white;
    width: 100vw;
    height: 65px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -65px;
    opacity: 1;
    z-index: 3;
}
header a {
    color: black;
    text-decoration: none;
    font-size: 22px;
}
header a:hover {
    color: #636363;
}
header a:active {
    color: #959595;
}
/*styly headeru - konec*/
/*styly náhledu - začátek*/
.main {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    color: white;
    margin-top: 65px;
    padding: 0px;
}
.paralaxWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
h1 {
    font-size: 85px;
    letter-spacing: 7px;
    font-weight: 200;
}
.welcome {
    font-size: 34px;
    letter-spacing: 2px;
    margin-top: 130px;
}
.paralaxPhoto {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
}
/*styly náhledu - konec*/
/*styly infoBoxu - začátek*/
.infoBox {
    height: 300px;
    font-size: 35px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
.infoText {
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 50px;
    font-weight: 100;
}
/*styly infoBoxu - konec*/
/*styl galerie - začátek*/
.galleryContainer {
    width: 100%;
    height: fit-content;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper {
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
}
.swiper-slide img {
    width: 80%;
    display: block;
    margin: 0px auto;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: lightgray;
}
.swiper .swiper-pagination-bullet-active {
    background-color: lightgray;
}
/*styl galerie - konec*/
/*styly footer - začátek*/
footer {
    width: 100vw;
    height: 80px;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 10px 10px -10px grey inset;
}
.footerContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerContactName {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.footerContactKey {
    font-size: 20px;
}
.footerCopyright {
    margin-top: 5px;
}
/*styly footer - konec*/